<ul class="menu menu--top">
    <li class="<%= nav_active("/") %>"><a href="<%= t('paths.home') %>"><%= t('menu.top.home') %></a></li>
    <li class="<%= nav_active("features") %>"><a href="<%= t('paths.features') %>"><%= t('menu.top.features') %></a></li>
    <li class="<%= nav_active("pricing") %>"><a href="<%= t('paths.pricing') %>"><%= t('menu.top.pricing') %></a></li>
    <li class="<%= nav_active("partnership") %>"><a href="<%= t('paths.partnership') %>"><%= t('menu.top.partnership') %></a></li>
    <li class="<%= nav_active("product") %>"><a href="<%= t('paths.product') %>"><%= t('menu.top.product') %></a></li>
    <li><button class="button button--white"><%= t('menu.top.reg_btn')%></button></li>
    <li><%= t('menu.top.phone') %></li>
</ul>